body {
  background-image: url("https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg");
  background-color: burlywood;
  background-position: fixed;
  background-position: center;
  background-size: cover;
}

hr{
  border:1px solid black;
}
.container {
  margin-top: 3%;
  background-color: blanchedalmond;
  border: black solid 5px;
  border-radius: 25px;
  padding: 0% 2% 2% 2%;
}

h1 {
  font-size: 6em;
  color: brown;
  text-shadow: black 2px 2px;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  color: palevioletred;
  text-shadow: black 1px 1px;
  font-family: 'Courier New', Courier, monospace
}

h4 {
  font-family: 'Courier New', Courier, monospace
}

a {
  color: orange;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

a:hover{
  color: rgb(113, 113, 165);
}