@{
  Layout = "_Layout";
}

<h1>PIERRE'S BAKERIES UNLIMITED</h1>
<hr />
<h2>ALL FLAVORS</h2>
<h3>@Html.ActionLink("See all Flavors", "Index", "Flavors")</h3>
<h2>ALL TREATS</h2>
<h3>@Html.ActionLink("See all Treats", "Index", "Treats")</h3>
<h2>REGISTER/LOGIN</h2>
<h3>@Html.ActionLink("Register/Login", "Index", "Account")</h3>