@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>ADD FLAVOR TO TREAT</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <label>Flavor: </label>
  @Html.DropDownList("FlavorId")
  <br>
  <br>
  <input type="submit" value="Save" class="btn btn-success">
}
<hr />
<p>@Html.ActionLink("Return to all treats", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>