@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>REMOVE TREAT</h2>
<hr />
<h4>Are you sure you want to remove this treat?</h4>
<label>Treat: </label>
@Html.DisplayFor(model => model.TreatName)
@using (Html.BeginForm())
{
    <input type="submit" value="Remove" class="btn btn-danger">
}
<hr />
<p>@Html.ActionLink("Return to all treats", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>