@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>ADD TREAT TO FLAVOR</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <label>Treat: </label>
  <div class="form-group">
  @Html.DropDownList("TreatId", null, new { @class="form-control" })
  </div>
  <br>
  <br>
  <input type="submit" value="Save" class="btn btn-success">
}
<hr />
<p>@Html.ActionLink("Return to all flavors", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>